NODE_ENV=development
PORT=5000
FRONTEND_ORIGINS=http://localhost:3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=transit_portal
DB_USER=transit_app
DB_PASSWORD=replace_with_your_database_password
DB_SSL=false

GOOGLE_CLIENT_ID=replace_with_your_google_oauth_client_id
ASSOCIATE_DEAN_EMAIL=
TRANSIT_MANAGER_EMAIL=
TRANSIT_TEAM_EMAIL=
SW_OFFICE_EMAIL=
CS_OFFICE_EMAIL=

TERMS_VERSION=2026-10
BOOKING_TIME_ZONE=Asia/Kolkata

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=replace_with_gmail_address
EMAIL_PASS=replace_with_a_new_gmail_app_password
EMAIL_FROM=Transit Facility <replace_with_gmail_address>
